/* Подключение шрифтов */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local("Roboto"), url("../fonts/roboto-regular.ttf") format("ttf"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.eot") format('embedded-opentype');
  font-display: swap;
}
/* Page container */
.main-container {
  max-width: 1124px;
  margin: 0 auto;
}
/* Миксины и переменные LESS */
.container {
  width: 100%;
  padding: 0 97px 0 81px;
  box-sizing: border-box;
}
/* Header */
.main-header {
  width: 100%;
  padding: 0 97px 0 81px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #FFFFFF;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 1124px;
}
.logo {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.logo:hover {
  text-decoration: none;
  transform: scale(1.1);
}
.logo:active {
  transform: scale(1);
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.signInBtn {
  width: 78px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  background: transparent;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  color: #1D1D1D;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.signInBtn:hover {
  border: 1px solid #1D1D1D;
}
.signInBtn:active {
  transform: scale(0.9);
}
.bagBtn {
  background: transparent;
  border: none;
  transition: 0.2s ease-in-out;
  margin: 0 0 0 27px;
}
.bagBtn:hover {
  transform: scale(1.1);
}
.bagBtn:active {
  transform: scale(1);
}
/* Main */
.main {
  width: 100%;
  padding: 0 97px 0 81px;
  box-sizing: border-box;
  padding-top: 128px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
}
.search {
  width: 100%;
  height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  opacity: 0.5;
}
.main-heading {
  display: block;
  margin: 56px 0 16px 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
/* Карточки ресторанов */
.rest-cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.rest-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  width: 308px;
  transition: 0.2s ease-in-out;
}
.rest-card:hover {
  transform: scale(1.05);
}
.rest-card:active {
  transform: scale(1);
}
.rest-name {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1D1D1D;
  margin: 16px 0 0 0;
}
.rest-category {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
  margin: 10px 0 0 0;
}
.delivery-time {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #1D1D1D;
  margin: 10px 0 0 0;
}
/* Footer */
.main-footer {
  width: 100%;
  padding: 0 97px 0 81px;
  box-sizing: border-box;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: #262626;
}
.footer1 {
  padding: 0 0 35px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer1-link {
  display: block;
  width: 200px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.footer1-link:hover {
  transform: scale(1.05);
}
.footer1-link:active {
  transform: scale(1);
}
.footer1-link svg:nth-child(1) {
  margin: 0 15px 0 0;
}
.footer2 {
  padding: 30px 0 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-2-column1 {
  display: flex;
  flex-direction: column;
}
#language {
  width: 227px;
  height: 40px;
  background-color: #3B3B3B;
  background-image: url("../img/decorate/world.png");
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: center;
  border: none;
  border-radius: 2px;
  padding: 12px 16px 12px 48px;
  box-sizing: border-box;
  margin: 0 0 25px 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}
.footer-2-column1-tag {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #49A144;
  margin: 0 0 17px 0;
}
.footer-2-column1-txt {
  color: #FFFFFF;
}
.footer-2-column1-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-2-column1-social-link {
  text-decoration: none;
  margin: 0 10px 0 0;
}
.footer-2-column1-social-link svg {
  fill: #FFFFFF;
  transition: 0.2s ease-in-out;
}
.footer-2-column1-social-link svg:hover {
  fill: #49A144;
  transform: scale(1.1);
}
.footer-2-column1-social-link svg:active {
  fill: #FFFFFF;
  transform: scale(1);
}
.footer2-column2,
.footer2-column3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 100px;
}
.footer2-column2-link,
.footer2-column3-link {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}
.footer3 {
  padding: 40px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer3-applink {
  display: block;
  width: 121px;
  height: 40px;
  transition: 0.2s ease-in-out;
}
.footer3-applink:nth-child(1) {
  width: 121px;
  background-image: url("../img/decorate/apple.png");
  margin: 0 20px 0 0;
}
.footer3-applink:nth-child(2) {
  width: 135px;
  background-image: url("../img/decorate/google.png");
  margin: 0 0 0 20px;
}
.footer3-applink:hover {
  transform: scale(1.1);
}
.footer3-applink:active {
  transform: scale(1);
}
.footer4 {
  padding: 40px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer4-link {
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  margin: 0 150px 0 0;
}
